* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    background-color: yellow;
}

.div {
    position: absolute;
    top: 100px;
    left: 50%;
    width: 40%;
    text-align: center;
    transform: translateX(-50%);
}

form {
    text-align: center;
    padding: 20px;
    border-radius: 50px;
    background-color: red;
}

#input-form {
    border: none;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.submitBtn,
.addBtn {
    margin-left: 10px;
    padding: 10px;
    border-radius: 15px;
    border: none;
    background-color: green;
    color: #fff;
}

.container {
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    padding: 20px;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

li {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: aliceblue;
    padding: 10px;
    font-size: 18px;
    border: 1px solid aliceblue;
    border-radius: 10px;
}

.checkItem,
.deleteItem {
    background-color: blue;
    border-radius: 15px;
    padding: 10px 30px;
    color: #fff;
}